.labels {
    color: white;
    text-shadow: 0 0 3px black, 0 0 3px black;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.modal-dialog{
    overflow-y: initial;
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}

.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
    margin-left: 10px;
}

#map {
    border-top:32px;
}

html, body, .container-fluid, #map {
    height:100%;
}

header {
    height:32px;
}

.navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
    cursor: pointer;
}
.navbar {
    min-height:32px !important;
    cursor: pointer;
}

.container-fluid {
    width:100%;
    position:absolute;
    top:0;
    padding:0;
}