.labels {
    color: white;
    text-shadow: 0 0 3px black, 0 0 3px black;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.modal-dialog{
    overflow-y: initial;
}
.modal-body{
    height: 230px;
    overflow-y: auto;
}

.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
    margin-left: 10px;
}

#map {
    height: 90%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}